---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="about twincannon"
	description="about twincannon"
	pubDate={new Date('May 28 2026')}
	/*heroImage="/blog-placeholder-about.jpg"*/
>
	<p>
		I'm twincannon, a passionate game developer with over 15 years of experience working on a variety of titles.
		My current focus and specialty is Unreal Engine and C++, though I am also very interested in game design and
		learning any new systems I can get my hands on.
	</p>
	<p>
		I started game development as a level designer for a mod called <a href="https://store.steampowered.com/app/17580/Dystopia/">Dystopia</a>. It was a free, community-driven
		project with many impassioned people from around the world all working remotely to create their dream game.
		I had no idea at the time how this would shape my future. After a while, I dug into the programming side of
		the project and haven't stopped since.
	</p>
	<p>
		The developers behind Dystopia came together and formed <a href="https://punyhuman.com/">Puny Human</a>, which is where I was employed for much
		of my career. In addition to our in-house games, we worked on many other games as a contract work-for-hire basis.
	</p>
	<p>
		<a href="https://store.steampowered.com/app/356790/Galacide/">Galacide</a> is a project that is near and dear to my heart. In addition to being Puny Human's first game made
		in our physical studio, it was chosen to be created based on a prototype I made in Java. I was the game's lead designer
		and we were a small indie team so I ended up filling a lot of roles. In addition to being part of the programming team, I did all
		of the VFX and game sound effects, the majority of the enemy AI, UI implementation, and even did the video
		editing work for the trailers using Unreal Sequencer and Adobe Premiere.
	</p>
	<p>
		The Bard's Tale IV was a huge part of my life, and I oversaw the inception of the project with helping
		write the technical design document for the prototype all the way until the final Xbox port work. During
		the 4 years on the project I did a ton of UI work, created many of the games core systems, helped upgrade
		as new engine versions came out, and did much of the port work for Xbox including profile and achievements.
	</p>
	<p>
		One thing I especially enjoy is when I get to learn new things or exercise skills that I don't often get
		a chance to; for example creating visual effects or sound effects, or even working with 3D modeling software
		and animation. For one project we had to create various Among Us-style minigames and I had the chance to do
		everything from program to art and sound for a mini-golf game, for example.
	</p>
	<p>
		I look forward to continuing to learn and improve my skills and work on new and exciting projects in the future!
	</p>
</Layout>
