---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1>welcome</h1>
			<p>
				Hello and welcome to twincannon.com, a combination blog and portfolio for my writing and projects. Here you'll
				find articles on my thoughts on game design, my gaming history, and my past and present projects.
			</p>
			<p>
				I'll be writing articles about games and their design that I find interesting, which can be found
				at the <a href="/blog">Articles</a> page.
			</p>
			<p>
				In addition, I plan on making a page to showcase my past and present game development projects.
				Stay tuned for that.
			</p>
		</main>
		<Footer />
	</body>
</html>
