---
import HeaderLink from './HeaderLink.astro';
import { SITE_TITLE } from '../consts';

import { Image } from "astro:assets";
import iconImage from "../../public/icon.png";
---

<header class="hero">
	<nav>
		<div class="site-title-container">
			<a href="/"><Image
				src={iconImage}
				alt="twincannon.com"
			/></a>
			<h2 class="site-title"><a href="/">{SITE_TITLE}</a></h2>
		</div>
		<div class="internal-links">
			<HeaderLink href="/">Home</HeaderLink>
			<HeaderLink href="/blog">Articles</HeaderLink>
			<HeaderLink href="/about">About</HeaderLink>
		</div>
		<div class="social-links">
			<a href="https://bsky.app/profile/twincannon.bsky.social" target="_blank">
				<span class="sr-only">Follow twincannon on Bluesky</span>
				<svg viewBox="0 0 16 16" aria-hidden="true" width="32" height="32"
					><path
						fill="currentColor"
						d="M3.468 1.948C5.303 3.325 7.276 6.118 8 7.616c.725-1.498 2.698-4.29 4.532-5.668C13.855.955 16 .186 16 2.632c0 .489-.28 4.105-.444 4.692-.572 2.04-2.653 2.561-4.504 2.246 3.236.551 4.06 2.375 2.281 4.2-3.376 3.464-4.852-.87-5.23-1.98-.07-.204-.103-.3-.103-.218 0-.081-.033.014-.102.218-.379 1.11-1.855 5.444-5.231 1.98-1.778-1.825-.955-3.65 2.28-4.2-1.85.315-3.932-.205-4.503-2.246C.28 6.737 0 3.12 0 2.632 0 .186 2.145.955 3.468 1.948"
					></path></svg
				>
			</a>
			<a href="https://github.com/twincannon" target="_blank">
				<span class="sr-only">twincannon's GitHub repo</span>
				<svg viewBox="0 0 16 16" aria-hidden="true" width="32" height="32"
					><path
						fill="currentColor"
						d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z"
					></path></svg
				>
			</a>
		</div>
	</nav>
</header>
<style>
	header {
		margin: 0;
		padding: 0 1em;
		background: rgba(var(--gray-dark));
		box-shadow: 0 2px 8px rgba(var(--black), 5%);
		/*display: flex;
 		flex-direction: column;
  		align-items: flex-start;*/
	}
	nav {
		position: relative;

		display: flex;
		align-items: center;
		justify-content: space-between;

		width: 100%;
	}
	.site-title-container {
		display: flex;
		align-items: center;
		min-width: 0;
	}
	.site-title-container a {
		display: block;
		margin: 0;
		padding: 0;
		margin-right: 5px;
	}
	.internal-links {
		position: absolute;
		left: 50%;
		transform: translateX(-50%);

		display: flex;
		gap: clamp(0.1rem, 1vw, 0.5rem);

		font-size: clamp(0.75rem, 1.5vw, 2rem);
	}
	.social-links {
		display: flex;
		justify-self: end;
		min-width: 0;
	}
	.site-title-container,
	.social-links {
		position: relative;
		z-index: 1;
	}
	h2 {
		margin: 0;
		color: var(--accent);
		font-size: 1.5em;
		font-family: "PermMarker";
	}

	h2 a,
	h2 a.active {
		text-decoration: none;
	}
	nav a {
		/*padding: 1em 0.5em;*/
		padding: 0.5em;
		color: var(--black);
		border-bottom: 4px solid transparent;
		text-decoration: none;
	}
	nav a.active {
		text-decoration: none;
		border-bottom-color: var(--accent);
	}
	.social-links,
	.social-links a {
		display: flex;
	}
	@media (max-width: 900px) {
		.site-title {
			display: none;
		}
	}
</style>
